---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { obras } from "../utils/getObras";


---


<Layout title="Alex leira">
	<div class="tienda">
		<h2 class="title">
			Tienda
		</h2>

		<div class="grid">
			{ obras.map( obra =>
				<div class="card">
					<div class="img">
						<Image class="imagen" src={ obra.imagen } alt={ obra.title } />
					</div>
					<div class="contenido">
						<h2>{ obra.title }</h2>
						<p class="texto">{ obra.desc }</p>
						<div class="desc">
							<p>Núm. páginas <br />
								{ obra.num }
							</p>
							<p>Año <br />
								{ obra.anio }
							</p>
						</div>
						<a href={ obra.enlaceCompra } class="boton">Comprar</a>
					</div>
				</div>
			 ) }
		</div>
	</div>
</Layout>

<style>

	.tienda {
		padding: 60px;
	}

	.card {
		background: #fff;
		border-radius: 14px;
		/* clear: both; */
		display: flex;
		margin-bottom: 50px;
		flex-wrap: wrap;
	}

	.card:last-child {
		margin-bottom: 0;
	}

	.card .contenido {
		flex: 1;
		padding: 30px;
		font-size: 14px;
	}

	.card .img {
		width: 244px;
		/* margin-right: 30px; */
	}

	.card .img .imagen {
		width: 100%;
		height: 100%;
		border-radius: 14px 0 0 14px;
		object-fit: cover;
	}
	.card h2 {
		margin-bottom: 10px;
		font-family: "Open Sans", sans-serif;
		font-weight: bolder;
		font-size: 34px;
	}

	.card .texto {
		line-height: 28px;
		text-align: justify;
	}

	.desc {
		display: flex;
		margin-top: 34px;
		font-weight: lighter;
	}

	.desc p {
		margin-right: 10px;

	} 

	.boton {
		padding: 10px 20px;
		background: #D9D9D9;
		border-radius: 4px;
		text-decoration: none;
		color: #000;
		font-weight: lighter;
		display: inline-block;
		margin-top: 40px;
	}

	@media (max-width: 710px) {
		.tienda {
			padding: 25px;
		}

		.card .img {
			width: 100%;
		}

		.card h2 {
			font-size: 26px;
		}

		.card .img .imagen {
			border-radius: 14px 14px 0 0;
		}
	}
</style>