---

---

<footer>
	<p>
		Copyright 2025 - Alex Leira
	</p>

	<div class="iconos">
		<a href="https://facebook.com/alexleiraautor"><ion-icon name="logo-facebook"></ion-icon></a>
		<a href="https://x.com/@AlexLeiraAutor"><ion-icon name="logo-twitter"></ion-icon></a>
		<a href="https://tiktok.com/@alexleiraautor"><ion-icon name="logo-tiktok"></ion-icon></a>
		<a href="https://instagram.com/alexleiraautor"><ion-icon name="logo-instagram"></ion-icon></a>
		<a href="https://youtube.com/@alexleiraautor"><ion-icon name="logo-youtube"></ion-icon></a>
	</div>
</footer>

<style>
	footer {
		padding: 15px;
		color: #000;

	}

	footer p {
		text-align: center;
		margin: 10px;
	}

	footer .iconos {
		display: flex;
		gap: 16px;
		margin: auto;
		width: fit-content;
	}

	footer .iconos a{
		font-size: 24px;
		padding: 14px;
		color: #000;
	}

	.iconos a:hover {
		color: var(--primary);
	}
</style>