---
const { title } = Astro.props
---

<nav class="nav">
	<div class="icono-cerrar">
		<ion-icon class="icono" name="close-outline"></ion-icon>
	</div>
	<header>
		<a href="/">
			<h2>
				{title}
			</h2>
		</a>
	</header>
	
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/contacto">Contacto</a></li>
		<li><a href="/el-autor">El autor</a></li>
		<li><a href="/obras">Obras</a></li>
		<li><a href="/tienda">Tiendas</a></li>
		<li><a href="/trailers">Trailers</a></li>
		<li><a href="/descargas">Descargas</a></li>
	</ul>
	
</nav>


<style>
	.nav header h2 {
		margin-bottom: 70px;
		font-size: 36px;
		font-family: "Pinyon Script", sans-serif;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	ul {
		list-style: none;
	}

	ul li {
		margin-bottom: 30px;
	}
	ul li a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
	}

	@media
	(max-width: 470px) {


	}
	
</style>
