---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav title={title} />
		<div class="content">
			<div class="menu-icono">
				<ion-icon name="menu"></ion-icon>
			</div>
			<slot />
			<Footer />
		</div>
	</body>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script>
		const nav = document.querySelector(".nav");
		const menu = document.querySelector(".menu-icono");
		const cerrar = document.querySelector(".icono-cerrar .icono")
		
		menu?.addEventListener("click", () => {
			nav?.classList.toggle("visible");
		});

		cerrar?.addEventListener("click", () => {
			nav?.classList.remove("visible");
		})
	</script>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@300..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Pinyon+Script&display=swap');
	:root {
		--primary: #242633;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.content {
		width: 82%;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		margin-left: 310px;
		overflow: auto;
	}

	.nav {
		/* min-width: 310px; */
		width: 18%;
		height: 100vh;
		background: #242633;
		transition: all .3s ease-in-out;
		color: #fff;
		padding: 80px 70px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	.menu-icono {
		position: absolute;
		background: var(--primary);
		padding: 16px;
		border-radius: 4px;
		top: 0;
		left: 0;
		font-size: 24px;
		color: #fff;
		margin: 16px;
		display: none;
	}

	.nav.visible {
		transform: translateX(0);
	}

	.icono-cerrar {
		width: 100%;
		text-align: right;
		font-size: 24px;
		cursor: pointer;
		display: none;
	}
	body {
		background: #E1E1E1;
		color: #000;
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
	}

	h1, h2, h3 {
		font-family: "Lobster";
	}

	h2.title {
		text-align: center;
		font-size: 32px;
		margin-bottom: 60px;
	}

	@media
	(max-width: 1100px) {
		
		.menu-icono {
			display: block;
		}
		.icono-cerrar {
			display: block;
		}
		.content {
			width: 100%;
		}

		.nav {
			width: 100%;
			transform: translateX(-100%);
		}

		.hero .hero-content h1 {
			font-size: 38px;
		}

		.hero .hero-content h2 {
			font-size: 24px;
		}
	}
	

</style>
